<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>GatorDrive</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.cloud.gatordrive.servlet.UploadFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>com.cloud.gatordrive.servlet.DownloadFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPartition</servlet-name>
		<servlet-class>com.cloud.gatordrive.servlet.GetPartitionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetFiles</servlet-name>
		<servlet-class>com.cloud.gatordrive.servlet.GetFilesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteFile</servlet-name>
		<servlet-class>com.cloud.gatordrive.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletePartition</servlet-name>
		<servlet-class>com.cloud.gatordrive.servlet.DeletePartitionServlet</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>Controller2</servlet-name>
	<servlet-class>com.cloud.gatordrive.Client.Controller2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadController</servlet-name>
		<servlet-class>com.cloud.gatordrive.Client.DownloadController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPartition</servlet-name>
		<url-pattern>/getPartition/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFile</servlet-name>
		<url-pattern>/deleteFile/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePartition</servlet-name>
		<url-pattern>/deletePartition/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetFiles</servlet-name>
		<url-pattern>/getFiles/*</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>Controller</servlet-name>
    	<servlet-class>com.cloud.gatordrive.Client.Controller</servlet-class>
  	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Share</display-name>
		<servlet-name>Share</servlet-name>
		<servlet-class>com.cloud.gatordrive.servlet.FileShareServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Share</servlet-name>
		<url-pattern>/Share</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>ShareFile</display-name>
		<servlet-name>ShareFile</servlet-name>
		<servlet-class>com.cloud.gatordrive.servlet.ShareFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShareFile</servlet-name>
		<url-pattern>/ShareFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>Controller2</servlet-name>
    	<url-pattern>/Controller2</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>DownloadController</servlet-name>
    	<url-pattern>/downloadController/*</url-pattern>
  	</servlet-mapping>

</web-app>